<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <title>Your Pending Wish from Santa!!!</title>
  </head>
  <body>
    <h1>Your Pending Wish from Santa!!!</h1>
    <p>Dear Santa, You have following pending wishes to be granted! Hurry!</p>
    User: <%= username %> <br />
    Address: <%= address %> <br />
    Wish: <%= wish %>
  </body>
</html>
